<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>로그인</title>
<link href = "../css/index.css" rel = "stylesheet" type = "text/css">
</head>
	
<body>
		
	<main class = "_61tyr" role = "main">
		<article class = "_60k3m">
			<div class = "_p8ymb _nvyyp">
				<h1 class = "_du7bh">
					BLE Beacon
				</h1>
			
			<div class = "_djahe _i131zu">
				<input type = "text" class = "_kp5f7 _qy55y" aria-describedby area-label = "Guest" aria required = "true" autocatitalize = "off" autocorrect = "off" name = "username" placeholder = "환자번호" value>
			</div>
			<div>
				<span class = "_1on88 _7k49n">
					<button class = "_ah57t _84y62 _i46jh _rmr7s"> 로그인 </button>
				</span> 
			</div>
			</div>
		</article>
		<footer class = "_oofbn" role ="contentinfo">
			<div class = "mhrsk _pcuq6">
			
			</div>		
		</footer>
			
	</main>
</body>
</html>
